/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */

/* CSS allows you to give your page style (colors, shapes, fonts, etc.)
You can apply CSS elements to entire HTML classes.*/
.container {
	display: flex;
}

.icons {
	color: #2196F3;
}

#header {
	text-align: center;
	height: 10px;
}

h1 {
	text-align: left;
	color: #2196F3;
	font-size: 78px;
}

h2 {
	text-align: left;
	color: #1976D2 ;
}

.around {
	padding: 10px;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.orange {
	background: #ff9933;
	border: 5px solid white;
	color: white;
}

.white {
	border: 5px solid white;
	text-align: center;
	color: black;
}

/* This style are adapted from the materializecss project 
   I have developped I grid so I can use in future projects
   as well
*/

.col1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-96 { font-size: 96px; }